<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <script th:inline="javascript"></script>
    <style>
        a {
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div>
        <form method="POST" th:action="@{/orders/search}" th:object="${OrderSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="clientsName" type="text" class="form-control" id="clientsName"
                               placeholder="clientsPhone">
                        <label for="clientsName">ФИО заказчика</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="clientsPhone" type="text" class="form-control" id="clientsPhone"
                               placeholder="clientsPhone">
                        <label for="clientsPhone">ФИО работника</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn gold-background text-color-white">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row">
        <!--                        sec:authorize="isAuthenticated()"-->
        <a

                href="clients/add"
                class="btn btn-lg btn-outline-dark"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить заказчика
        </a>
        <hr>
        <a

                href="orders/add"
                class="btn btn-lg btn-outline-dark"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить заказ
        </a>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Описание</th>
                <th scope="col">Выполнить до</th>
                <th scope="col">Цена</th>
                <th scope="col">Заказчик</th>
                <th scope="col">Телефон</th>
                <th scope="col">Сотрудник</th>
                <!--                <th scope="col">isDeleted?</th>-->
                <!--                <th scope="col">Update</th>-->
                <!--                <th scope="col">Restore</th>-->
                <!--                <th scope="col">SOFT delete</th>-->
                <!--                <th scope="col">HARD delete</th>-->
            </tr>
            </thead>
            <tr th:each="order : ${orders}">
                <td>
                    <a class="text-link text-dark-emphasis text-decoration-none"
                       th:href="'/orders/' + ${order.getId()}"
                       th:text="${order.getId()}"></a>
                </td>
                <td th:text="${order.getDescription()}"></td>
                <td th:text="${order.getDeadline()}"></td>
                <td th:text="${order.getPrice()}"></td>
                <td th:text="${order.getClientDTO().getFullName()}"></td>
                <td th:text="${order.getClientDTO().getPhone()}"></td>
                <td th:text="${order.getEmployeeDTO().getFullName()}"></td>
                <!--                <td th:text="${client.isDeleted()}"></td>-->
                <!--                <td>-->
                <!--                    sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"-->
                <!--                    <div>-->
                <!--                        <a class="btn btn-sm btn-outline-success" th:href="'/clients/update/' + ${client.getId()}">Update</a>-->
                <!--                    </div>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <div>-->
                <!--                        <a th:if="${client.isDeleted()}"-->
                <!--                           class="btn btn-sm btn-outline-warning"-->
                <!--                           th:href="'/clients/restore/' + ${client.getId()}"-->
                <!--                           onclick="return confirm('The client will be RESTORED')">Restore</a>-->
                <!--                    </div>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <div>-->
                <!--                        <a th:if="${!client.isDeleted()}"-->
                <!--                           class="btn btn-sm btn-outline-danger"-->
                <!--                           th:href="'/clients/soft-delete/' + ${client.getId()}"-->
                <!--                           onclick="return confirm('The client will be SOFT DELETED')">SOFT Delete</a>-->
                <!--                    </div>-->
                <!--                </td>-->
                <!--                <td>-->
                <!--                    <div>-->
                <!--                        <a th:if="${client.isDeleted()}"-->
                <!--                           class="btn btn-sm btn-outline-danger"-->
                <!--                           th:href="'/clients/hard-delete/' + ${client.getId()}"-->
                <!--                           onclick="return confirm('The client will be HARD!!! DELETED')">HARD Delete</a>-->
                <!--                    </div>-->
                <!--                </td>-->
            </tr>
        </table>
    </div>
    <div>
        <nav aria-label="Pagination" th:if="${orders.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${orders.number eq 0} ? 'disabled'">
                    <a class="page-link text-black"
                       th:href="@{/orders?page={id}(id=${orders.number lt 2 ? 1 : orders.number})}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:classappend="${i eq orders.number + 1} ? 'active'"
                    th:each="i : ${#numbers.sequence( 1, orders.totalPages, 1)}">
                    <a class="page-link text-dark bg-light" th:href="@{/orders?page={id}(id=${i})}" th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item" th:classappend="${orders.number eq orders.totalPages - 1} ? 'disabled'">
                    <a class="page-link  text-black"
                       th:href="@{/orders?page={id}(id=${orders.number + 2})}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>