<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Добавить изделия</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить заказчика</h3>
  <form enctype="multipart/form-data" style="max-width: 50vw" method="POST" th:action="@{/finishedItems/update}" th:object="${finishedItemForm}">

      <input type="hidden" name="id" th:value="${item.getId()}" class="form-control" id="id">

    <div class="mb-3">
      <label for="itemCode" class="form-label">Артикул</label>
      <input name="itemCode" th:value="${item.getItemCode()}" type="number" class="form-control" id="itemCode">
    </div>
    <div class="mb-3">
      <label for="netCost" class="form-label">Себестоимость</label>
      <input name="netCost" th:value="${item.getNetCost()}" type="number" class="form-control" id="netCost">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Описание</label>
      <input name="description" th:value="${item.getDescription()}" type="text" class="form-control" id="description">
    </div>
    <div class="mb-3">
      <label for="metalsInfo" class="form-label">Данные о металлах</label>
      <input name="metalsInfo" th:value="${item.getMetalsInfo()}" type="text" class="form-control" id="metalsInfo">
    </div>
    <div class="mb-3">
      <label for="gemsInfo" class="form-label">Данные о камнях</label>
      <input name="gemsInfo" th:value="${item.getGemsInfo()}" type="text" class="form-control" id="gemsInfo">
    </div>
    <div class="mb-3">
      <label for="metalTypes" class="form-label">Тип металла</label>
      <input class="form-control" list="metalTypes" id="metalType-choice" name="metalTypeId" required>
      <datalist id="metalTypes">
<!--        <option selected th:value="${item.getMetalTypes().get(0).getTitle()}" th:text="${item.getMetalTypes().get(0).getTitle()}"></option>-->
        <option th:each="metal : ${metalTypes}" th:value="${metal.getId()}" th:text="${metal.getTitle()}"></option>
      </datalist>
    </div>
    <div class="mb-3">
      <label for="gemTypes" class="form-label">Тип камня</label>
      <input class="form-control" list="gemTypes" id="gemType-choice" name="gemTypeId" required>
      <datalist id="gemTypes">
<!--        <option selected th:value="${item.getGemTypes().get(0).getTitle()}" th:text="${item.getGemTypes().get(0).getTitle()}"></option>-->
        <option th:each="gem : ${gemTypes}" th:value="${gem.getId()}" th:text="${gem.getTitle()}"></option>
      </datalist>
    </div>
    <!--        <div class="mt-3 form-floating">-->
    <!--            <input name="photoPath" type="file" class="form-control form-control-sm" id="photoPath" placeholder="photoPath file copy" style="padding-top: 2rem">-->
    <!--            <label for="photoPath">Online copy</label>-->
    <!--        </div>-->
    <button type="submit" class="btn btn-primary">Править</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>