html{
    height: 100%;
}
body{
    height: 100%;
}
.general__wrapper{
    min-height: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
.navbar{
    height: 50px;
}

.content__wrapper {
    min-height: calc(100vh - 84px);
    position: relative;
    margin: 0 auto;
}
.index__info-block{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}
#current_date_time_block2{
    font-size: 28px;
}

p.red-text{
    font-size: 36px;
}
.add__block a{
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}

.red-text {
    color: red !important;
    text-decoration: none;
    font-size: large;
}

.color-white {
    color: white;
    text-decoration: none;
}

.text-color-white {
    color: white !important;
    text-decoration: none;
}


.color-white:hover {
    color: burlywood;
}

.hover-white:hover {
    color: white !important;
}

.hover-blue:hover {
    color: #0185ec !important;
    background-color: goldenrod;
}

.text-align-center {
    text-align: center;
}

.footer {
    background-color: rgba(252, 185, 65, 0.58);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gold-background {
    background-color: darkgoldenrod !important;
}

.gold-background-light {
    background-color: rgba(252, 185, 65, 0.58);
}

.margin_0_padding_0 {
    margin: 0 !important;
    padding: 0 !important;
}

.margin-top-5px {
    margin-top: 5px !important;
}

.margin-left-5px {
    margin-left: 5px;
}

.font-size-xxx-large {
    font-size: xxx-large;
}

.pagination{
    padding-bottom: 50px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}