footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

.content-wrapper {
    width: 1200px;
}

h3 {
    text-align: center;
}

.red-text {
    color: red !important;
    text-decoration: none;
}

.color-white {
    color: white;
    text-decoration: none;
}

.text-color-white {
    color: white !important;
    text-decoration: none;
}


.color-white:hover {
    color: burlywood;
}

.hover-white:hover {
    color: white !important;
}

.hover-blue:hover {
    color: #0185ec !important;
    background-color: goldenrod;
}

.text-align-center {
    text-align: center;
}

.footer {
    background-color: rgba(252, 185, 65, 0.58);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gold-background {
    background-color: darkgoldenrod !important;
}

.gold-background-light {
    background-color: rgba(252, 185, 65, 0.58);
}

.margin_0_padding_0 {
    margin: 0 !important;
    padding: 0 !important;
}

.margin-top-5px {
    margin-top: 5px !important;
}

.margin-left-5px {
    margin-left: 5px;
}
