footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

h3 {
    text-align: center;
}

.color-white {
    color: white;
    text-decoration: none;
}

.text-color-white {
    color: white !important;
    text-decoration: none;
}


.color-white:hover {
    color: burlywood;
}

.footer {
    background-color: rgba(252, 185, 65, 0.58);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gold-background {
    background-color: darkgoldenrod !important;
}

.gold-background-light {
    background-color: rgba(252, 185, 65, 0.58);
}

.margin_0_padding_0 {
    margin: 0 !important;
    padding: 0 !important;
}
