<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Заказчики</title>
    <script th:inline="javascript"></script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <form method="POST" th:action="@{/clients/search}" th:object="${clientSearchForm}">
            <div class="mt-0 row g-3">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="fullName" type="text" class="form-control" id="fullName" placeholder="fullName">
                        <label for="fullName">ФИО</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input name="phone" type="text" class="form-control" id="phone" placeholder="phone">
                        <label for="phone">Телефон</label>
                    </div>
                </div>
                <div class="row g-2 search-btn">
                    <button type="submit" class="btn gold-background text-color-white">Поиск</button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <div class="row add__block">
        <a
                sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
                href="/clients/add"
                class="btn btn-lg btn-outline-dark"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить заказчика
        </a>
        <a
                sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))"
                href="/clientsOrders/add"
                class="btn btn-lg btn-outline-dark"
                role="button"
                style="float: right"
                aria-disabled="true">Добавить заказ
        </a>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Телефон</th>
                <th scope="col">Подробно</th>
            </tr>
            </thead>
            <tr th:each="client : ${clients}">
                <td>
                    <a class="text-link text-dark-emphasis text-decoration-none" th:href="'/clients/' + ${client.getId()}"
                       th:text="${client.getFullName()}"></a>
                </td>
                <td th:text="${client.getPhone()}"></td>
                <td>
                    <div>
                        <a class="btn btn-sm btn-outline-success" th:href="'/clients/' + ${client.getId()}">Подробно</a>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <div class="col"></div>
        <div>
            <nav aria-label="Pagination" th:if="${clients.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${clients.number eq 0} ? 'disabled'">
                        <a class="page-link text-black"
                           th:href="@{/clients?page={id}(id=${clients.number lt 2 ? 1 : clients.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq clients.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, clients.totalPages, 1)}">
                        <a class="page-link text-dark bg-light" th:href="@{/clients?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${clients.number eq clients.totalPages - 1} ? 'disabled'">
                        <a class="page-link  text-black"
                           th:href="@{/clients?page={id}(id=${clients.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>
</body>
</html>