<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Заказчики</title>
  <script th:inline="javascript"></script>
  <style>
    a {
      margin-left: 5px;
    }
  </style>
</head>
<body>
<form layout:fragment="content">
  <div>
    <h3 th:text="'Информация о клиенте: ' + ${client.getFullName()}"></h3>
    <form class="row g-1">
      <div class="mb-2 row">
        <label for="status" class="col-sm-2 col-form-label no-border">Телефон</label>
        <div class="col-sm-10">
          <p th:text="${client.getPhone()}" type="text" readonly class="form-control-plaintext" id="status">
        </div>
      </div>
    </form>
    <hr class="hr"/>
    <div class="mt-2">
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
    </div>
  </div>
</form>
</body>
</html>