<div xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     th:fragment="header">
    <nav class="navbar navbar-expand-lg gold-background align-self-center" style="background-color: #0067b8">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: #ffffff">
                <img src="/img/jewelry.png" width="32" height="32" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-link">
                        <a class="color-white" aria-current="page" href="/clients">Заказчики</a>
                    </li>
                    <li class="nav-link">
                        <a class="color-white" aria-current="page" href="/clientsOrders">Заказы</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('USER'))" class="nav-link">
                        <!--            при повторном нажатии на кнопку падает с ошибкой: два раза подставляется /users/users-->
                        <!--              "/" в начале решает эту проблему-->
                        <a class="color-white" aria-current="page" href="/clientsOrders/my-orders">Мои заказы</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" class="nav-link">
                        <a class="color-white" aria-current="page" href="/employees">Сотрудники</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" class="nav-link">
                        <a class="color-white" aria-current="page" href="/gems">Камни</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" class="nav-link">
                        <a class="color-white" aria-current="page" href="/metals">Металлы</a>
                    </li>
                    <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))" class="nav-link">
                        <a class="color-white" aria-current="page" href="/finishedItems">Готовые изделия</a>
                    </li>
                </ul>
                <form class="d-flex" sec:authorize="!isAuthenticated()">
                    <a href="/login" class="btn btn-light btn-outline-dark" role="button" aria-disabled="true">Войти</a>
                </form>
                <form class="d-flex" sec:authorize="isAuthenticated()">
                    <a href="/logout" class="btn btn-light btn-outline-dark" role="button" aria-disabled="true">Выйти</a>
                </form>
            </div>
        </div>
    </nav>
</div>
