<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Jewelry workshop</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Что мы имеем</h1>
    <p th:text="'Дата: ' + ${date.toString()}"></p>
    <p th:text="'Выдано заказов за все время: ' + ${completedOrdersAmount}"></p>
    <p th:text="'Свободных заказов: ' + ${looseOrdersAmount}"></p>
    <p class="red-text"
            th:text="'Просроченые заказы: ' + ${expiredOrdersAmount} + '!'"></p>
</div>
</body>
</html>