<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Jewelry workshop</title>
</head>
<body>
<div layout:fragment="content">
    <div class="text-align-center margin-top-300px index-info">
        <p>
            <div id="current_date_time_block2"></div>
        </p>

        <p th:text="'Выдано заказов за все время: ' + ${completedOrdersAmount}"></p>
        <p th:text="'Свободных заказов: ' + ${looseOrdersAmount}"></p>
        <p th:text="'Выполнено, но ожидают выдачи: ' + ${waitingForClient}"></p>
        <p class="red-text"
           th:text="'Просроченые заказы: ' + ${expiredOrdersAmount} + '!'"></p>
    </div>
    <script type="text/javascript">
        function zero_first_format(value) {
            if (value < 10) {
                value = '0' + value;
            }
            return value;
        }
        month_title = new Array("января", "февраля", "марта", "апреля", "мая", "июня",
            "июля", "августа", "сентября", "октября", "ноября", "декабря");
        function date_time() {
            var current_datetime = new Date();
            var day = zero_first_format(current_datetime.getDate());
            var month = current_datetime.getMonth();
            var year = current_datetime.getFullYear();
            var hours = zero_first_format(current_datetime.getHours());
            var minutes = zero_first_format(current_datetime.getMinutes());
            var seconds = zero_first_format(current_datetime.getSeconds());

            return day + "  " + month_title[month] + "  " + year + "</br><b>" + hours + ":" + minutes + ":" + seconds;
        }

        setInterval(function () {
            document.getElementById('current_date_time_block2').innerHTML = date_time();
        }, 1000);
    </script>
</div>

</body>
</html>