<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о сотруднике</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о сотруднике: ' + ${employee.getFullName()}"></h3>
        <hr>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="createdBy" class="col-sm-2 col-form-label no-border">Добавил в базу:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getCreatedBy()}" type="text" readonly
                       class="form-control-plaintext"
                       id="createdBy">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="createdWhen" class="col-sm-2 col-form-label no-border">Принят на работу:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getCreatedWhen().format(formatter)}" type="text" readonly
                       class="form-control-plaintext"
                       id="createdWhen">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="phone" class="col-sm-2 col-form-label no-border">Телефон:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getPhone()}" type="text" readonly class="form-control-plaintext" id="phone">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="address" class="col-sm-2 col-form-label no-border">Адрес:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getAddress()}" type="text" readonly class="form-control-plaintext"
                       id="address">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="birthDate" class="col-sm-2 col-form-label no-border">Дата рождения:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getBirthDate()}" type="text" readonly class="form-control-plaintext"
                       id="birthDate">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="address" class="col-sm-2 col-form-label no-border">Действующий:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.isDeleted() ? 'Нет' : 'Да'}" type="text" readonly
                       class="form-control-plaintext"
                       id="isDeleted">
                </div>
            </div>
            <div class="mb-2 row" th:if="${employee.isDeleted()}">
                <label for="address" class="col-sm-2 col-form-label no-border">Удалил:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getDeletedBy()}" type="text" readonly class="form-control-plaintext"
                       id="deletedBy">
                </div>
            </div>
            <div class="mb-2 row" th:if="${employee.isDeleted()}">
                <label for="address" class="col-sm-2 col-form-label no-border">Дата удаления:</label>
                <div class="col-sm-10">
                    <p th:text="${employee.getDeletedWhen().format(formatter)}" type="text" readonly
                       class="form-control-plaintext"
                       id="deletedWhen">
                </div>
            </div>
            <hr class="hr"/>
            <div class="row">
                <a class="btn btn-secondary"
                   th:href="'/employees'">Назад</a>
            </div>
            <div class="row">
                <a th:if="${employee.getEmployeePosition().getTitle() != 'Директор'}"
                        class="btn btn-primary margin-top-5px"
                   th:href="'/employees/update/' + ${employee.getId()}">Править</a>
            </div>
            <div class="row">
                <a class="btn btn-warning margin-top-5px"
                   th:if="${employee.isDeleted()}"
                   th:href="'/employees/restore/' + ${employee.getId()}">Восстановить</a>
            </div>
            <div class="row">
                <a class="btn btn-warning text-color-white margin-top-5px"
                   th:if="${!employee.isDeleted() && employee.getEmployeePosition().getTitle() != 'Директор'}"
                   th:href="'/employees/soft-delete/' + ${employee.getId()}"
                   onclick="return confirm('Сотрудник будет помечен в базе флагом \'isDeleted()\'')">Удалить</a>
            </div>
            <div class="row">
                <a class="btn btn-danger margin-top-5px"
                   sec:authorize="isAuthenticated() && (hasRole('DIRECTOR') || hasRole('ADMIN'))"
                   th:if="${employee.isDeleted()}"
                   th:href="'/employees/hard-delete/' + ${employee.getId()}"
                   onclick="return confirm('Сотрудник будет НАВСЕГДА! удален из базы')">Удалить НАВСЕГДА</a>
            </div>
        </form>
    </div>
</form>
</body>
</html>
